<p><strong>About the Author</strong></p>
<p><em>{{ author }}</em></p>
<img src="https://res.cloudinary.com/stuckonsap/image/upload/c_thumb,g_face,w_150,c_fill,ar_1:1,g_auto,r_max/v1603564892/Chandan_outdoor_uk3ryb.jpg">
<p>SAP Evangelist, experienced Technical Architect and Designer, Expert in all SAP Technologies. passionate about the latest & greatest advancements in web technologies.</p>
